extends layout

block content
  .container
    .panel-group
      .panel.panel-default
        .panel-heading(ng-click="showAvailable = !showAvailable")
          h4.panel-title Доступные задания
            span.badge.pull-right {{(quests | filter:{state: 0}).length}}

        .panel-collapse(ng-class="{true: 'in', false: 'collapse'}[!!showAvailable]")
          .panel-body
            .panel.panel-default(ng-repeat="quest in quests | filter:{state: 0}")
              .panel-heading 
                {{quest.name}}
                button.btn.btn-success.btn-xs.pull-right(ng-click="activate(quest)")
                  .glyphicon.glyphicon-plus
              .panel-body {{quest.desc}}

      .panel.panel-default
        .panel-heading(ng-click="showActive = !showActive")
          h4.panel-title Активные задания
            span.badge.pull-right {{(quests | filter:{state: 1}).length}}

        .panel-collapse(ng-class="{true: 'in', false: 'collapse'}[!!showActive]")
          .panel-body
            .panel.panel-default(ng-repeat="quest in quests | filter:{state: 1}")
              .panel-heading {{quest.name}}
                {{quest.name}}
                button.btn.btn-danger.btn-xs.pull-right(ng-click="remove(quest)")
                  .glyphicon.glyphicon-minus
              .panel-body {{quest.desc}}
                .input-group
                  span.input-group-btn(ng-click="submitCode(quest, code)")
                    button.btn.btn-success
                      .glyphicon.glyphicon-ok
                  input.form-control(ng-model="code",
                    placeholder="Enter a code here", type="text")

      .panel.panel-default
        .panel-heading(ng-click="showClosed = !showClosed")
          h4.panel-title Закрытые задания  
            span.badge.pull-right {{(quests | filter:{state: 2}).length}}

        .panel-collapse(ng-class="{true: 'in', false: 'collapse'}[!!showClosed]")
          .panel-body
            .panel.panel-default(ng-repeat="quest in quests | filter:{state: 2}")
              .panel-heading {{quest.name}}
              .panel-body {{quest.desc}}
