extends layout

block content
  p List of current goals.
  ul
    each val, index in goals
      li= index

  p Add new goal
  form(method="post")
    input(type="text", name="goal")
    input(type="submit")
