extends layout

block content
  h1= title
  p Это попытка создать аналог игрового варианта #{title} для страйкбола и подобных игр.
  ul
    li
      a#map(href='/map') Map
    li
      a#goals(href='/goals') Goals
