doctype 5
html
  head
    title= title

    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1= title
    ul
      li
        a#app(href='/app') Application
      li
        a#map(href='/map') Map
      li
        a#goals(href='/goals') Goals
      li
        a#location(href='/location') My Location

    block content
