extends layout

block content
  p My Location
  .message Starting...
  script.
    var options = options || {};
    options['location'] = {
      msgSelector: '.message'
    };

  script(src="/javascripts/location.js")
