doctype 5
html
  head
    title Dynamic Map
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    style.
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true")
  body
    div#map-canvas

    script.
      var options = {
        map: {
          center: "#{center}",
          goals: !{goals}
        }
      }

    script(src="/javascripts/map.js")
