extends layout

block content
  p Current Map

  div#map-canvas

  script.
    var options = {
      map: {
        center: !{center},
        points: !{points}
      }
    }

  script(src="/javascripts/map.js")
