doctype 5
html(ng-app="main")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="javascripts/ngapp/app.js")
    
  body
    div(ng-view)


    